/* CSS Styles for Recipes */

h1 {
    color: #8a2be2;
}

h2 {
    color:#00ffff;
}

div {
    display:inline-block;
    padding: 3px;
}

.ingred {
    font-style: italic;
    text-align: center;
}

img{
    height: 300px;
    width: auto;
    margin: 10px;
}

#vital {
    font-weight: 900;
}
